# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Upload Files
uploads/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Build
dist/
build/